@import "../../../node_modules/tailwindcss/dist/preflight.css";
@import "../../../node_modules/tailwindcss/dist/utilities.css";

body {
  font-family: 'Segoe UI', sans-serif;
  padding: 50px;
  background-color: #222532;
  color: #ededed;
}

h1 {
  color: #222532;
  text-shadow:
     1px  1px     #ededed,
    -1px  1px     #ededed,
     1px -1px     #ededed,
    -1px -1px     #ededed;
}

.user-stack, .add-btn {
  flex-basis: 300px;
}

.user-stack:nth-of-type(1) {
  .user-stack--entry {
    box-shadow: inset 3px 0 #F66D9B;
  }
}
.user-stack:nth-of-type(2) {
  .user-stack--entry {
    box-shadow: inset 3px 0 #64D5CA;
  }
}
.user-stack:nth-of-type(3) {
  .user-stack--entry {
    box-shadow: inset 3px 0 #FFED4A;
  }
}
.user-stack:nth-of-type(4) {
  .user-stack--entry {
    box-shadow: inset 3px 0 #9561E2;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Service Font Colors */

.netflix {
  color: #E3342F;
}

.prime {
  color: #6CB2EB;
}

.hulu {
  color: #51D88A;
}

.vudu {
  color: #2779BD;
}

.tubi {
  color: #e84f1e;
}

.viki {
  color: #BCDEFA;
}

.critcol {
  color: #8795A1;
}

.local {
  color: #F2D024;
}

.dl {
  color: #9561E2;
}
